/* sheared styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.primary-btn {
    width: 175px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 0;
}

/* header styles */

/* nav styles */
.nav-container {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.nav-title {
    display: flex;
}

.nav-title h2 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 15px;
}

#aura {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.nav-content {
    display: flex;
    list-style: none;
}

.nav-content a {
    text-decoration: none;
    margin-right: 45px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

#home {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

/* banner styles */
.banner {
    max-width: 1170px;
    height: 490px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    text-align: center;
    border-radius: 16px;
}

.banner-title {
    margin: 100px 285px;
}

.banner-title h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 100px;
}

.banner-title p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 50px;
}

.banner-inputs {
    margin: 0px 150px 100px 150px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-inputs input {
    width: 175px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;

}

.banner-inputs select {
    width: 175px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    margin-left: 25px;
}

#banner-btn {
    margin-left: 25px;
}













/* responsive media query */

/* mobile devices */
@media screen and (max-width:600px) {

    .nav-content {
        display: none;
    }

    .banner {
        margin: 10px;
        background-position: center;
    }

    .banner-title p {
        color: #FFF;
        font-size: 10px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    .banner-title h1 {
        color: #FFF;
        font-size: 25px;
        padding-top: 30px;
    }

    .banner-title {
        margin: 10px;
        padding: 10px;
    }

    .banner-inputs {
        display: flex;
        flex-direction: column;
        margin: 0px 60px;
        padding: 10px;
        align-items: center;
    }

    .banner-inputs input {
        width: 255px;
        height: 50px;
        margin-top: 15px;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .banner-inputs select {
        width: 255px;
        height: 50px;
        margin-left: 0;
        margin-bottom: 15px;
    }

    #banner-btn {
        margin-left: 0;
        width: 255px;
        height: 50px;
    }
}