/* sheared styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.primary-btn {
    width: 175px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 0;
}

/* header styles */

/* nav styles */
.nav-container {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.nav-title {
    display: flex;
}

#bars {
    visibility: hidden;
    color: #131318;
    position: relative;
    left: 50px;
    top: 18px;
    font-size: 20px;
}

.nav-title h2 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 15px;
}

#aura {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.nav-content {
    display: flex;
    list-style: none;
}

.nav-content a {
    text-decoration: none;
    margin-right: 45px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

#home {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

/* banner styles */
.banner {
    max-width: 1440px;
    height: 605px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    text-align: center;
    border-radius: 16px;
}

.banner-title {
    margin: 100px 285px;
}

.banner-title h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 100px;
}

.banner-title p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 50px;
}

.banner-inputs {
    margin: 0px 300px 100px 300px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-inputs input {
    width: 175px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;

}

.banner-inputs select {
    width: 175px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    margin-left: 25px;
}

#banner-btn {
    margin-left: 25px;
}

/* main styles */

/* tours styles */
.tours {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tours-description {
    max-width: 660px;
}

.tours-description h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.tours-description p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.tours-description>ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.tours-description li {
    margin: 30px;
}

#tours-btn {
    margin-top: 30px;
}

.tours-image img {
    width: 100%;
}

/* destination section styles */

.destination {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
}

.destination-images img {
    width: 100%;
}

.destination-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;

}

.destination-title h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-title p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 50px;
}

.mald h4 {
    position: relative;
    bottom: 155px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.ind h4 {
    position: relative;
    bottom: 155px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.sri h4 {
    position: relative;
    bottom: 155px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.na h4 {
    position: relative;
    bottom: 155px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.kas h4 {
    position: relative;
    bottom: 155px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.ban h4 {
    position: relative;
    bottom: 155px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.band h4 {
    position: relative;
    bottom: 155px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.mald {
    margin-bottom: -30px;
}

.ind {
    margin-bottom: -30px;
}

.sri {
    margin-bottom: -30px;
}

.na {
    margin-bottom: -30px;
}

.kas {
    margin-bottom: -30px;
}

.ban {
    margin-bottom: -30px;
}

.band {
    margin-bottom: -30px;
}


/* choose section styles */

.choose {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;

}

.choose img {
    width: 10%;
    padding: 30px;
}

.choose-title {
    text-align: center;
}

.choose-title h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.choose-title p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

.choose-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;

}

.choose-single-content-1 {
    width: 575px;
    height: 285px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-single-content-2 {
    width: 575px;
    height: 285px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-single-content-3 {
    width: 575px;
    height: 285px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.choose-single-content-1 h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-left: 30px;
    padding-bottom: 30px;
}

.choose-single-content-1 p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 20px;
}

.choose-single-content-2 h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-left: 30px;
    padding-bottom: 30px;
}

.choose-single-content-2 p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 20px;
}

.choose-single-content-3 h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-left: 30px;
    padding-bottom: 30px;
}

.choose-single-content-3 p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 20px;
}

/* consultant section style */
.Consultant {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.consultant-image img {
    width: 100%;
    border-radius: 16px;
}

.consultant-content {
    text-align: center;
    max-width: 740px;
    background-color: aliceblue;
    border-radius: 16px;
}

.consultant-content h2 {
    color: #131318;
    font-size: 30px;
    font-weight: 800;
    padding-top: 110px;
}

.consultant-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;

}

#find-expert{
    margin-bottom: 15px;
}

/* newsletter section styles */

.newsletter {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    align-items: center;
}

.newsletter-form {
    border: 1px solid #FF5400;
    border-radius: 16px;
    height: 400px;
}

.newsletter-image {
    position: relative;
    top: 55px;
}

.newsletter-form h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 40px;
}

.newsletter-form p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-left: 40px;
    margin-right: 80px;
}

.newsletter-form hr {
    width: 410px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 25px auto;
    border: none;
}

.newsletter-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.newsletter-inputs input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 390px;
    height: 50px;
    border: none;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    margin-left: 40px;
    padding-left: 20px;
}

#subscribe-btn {
    width: 410px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
    margin-left: 40px;
}

.newsletter-image img {
    width: 100%;
}


.image-sticker {
    border-radius: 16px;
    background: #FF5400;
    bottom: 145px;
    left: 435px;
    max-width: 230px;
    transform: rotate(-19.628deg);
    position: relative;
    
}

.image-sticker p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.image-sticker h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}


/* footer styles */

.footer {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    height: 500px;
}

.footer-container {
    padding-top: 100px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-logo h2 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 15px;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 35px;

}

.logos {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.footer hr {
    background: rgba(19, 19, 24, 0.10);
    width: 872px;
    height: 1px;
    border: none;
    margin: 0 auto;
}

.footer h1 {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    padding-top: 50px;
}








/* responsive media query */

/* mobile devices */

@media screen and (max-width:600px) {
    .nav-content {
        display: none;

    }

    #bars {
        visibility: visible;
    }

    .banner {
        margin: 10px;
        background-position: center;
    }

    .banner-title p {
        color: #FFF;
        font-size: 10px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    .banner-title h1 {
        color: #FFF;
        font-size: 25px;
        padding-top: 30px;
    }

    .banner-title {
        margin: 10px;
        padding: 10px;
    }

    .banner-inputs {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 60px;
        padding: 10px;
        align-items: center;
    }

    .banner-inputs input {
        width: 255px;
        height: 50px;
        margin-top: 15px;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .banner-inputs select {
        width: 255px;
        height: 50px;
        margin-left: 0;
        margin-bottom: 15px;
    }

    #banner-btn {
        margin-left: 0;
        width: 255px;
        height: 50px;
    }

    .tours {
        flex-direction: column;
    }

    .tours-description {
        padding: 15px;
    }

    .tours-image {
        padding: 15px;
    }

    .choose-contents {
        margin: 15px;
    }


    .Consultant {
        flex-direction: column;
        margin: 15px;
        gap: 15px;
    }

    .consultant-content h2 {
        padding-top: 20px;
    }


    .choose-title {
        margin: 15px;
    }

    .newsletter {
        flex-direction: column;
        margin: 15px;
        margin-top: 30px;
    }

    .newsletter-image img {
        width: 100%;
    }

    .image-sticker {
        left: 120px;
    }

    .newsletter-form {
        width: 355px;
    }

    .newsletter-form h2 {
        margin: 25px;
    }

    .newsletter-form p {
        margin-left: 25px;
        margin-right: 45px;
    }

    .newsletter-form hr {
        width: 10px;
    }

    .newsletter-inputs input {
        width: 290px;
        height: 50px;
        margin-left: 25px;
        margin-right: 25px;
    }

    #subscribe-btn {
        width: 310px;
        height: 50px;
        margin-left: 25px;
        margin-right: 25px;

    }

    .footer {
        height: 400px;
    }


    .footer h1 {
        padding-top: 20px;
    }

    .footer hr {
        width: 280px;
    }

    .logos {
        margin-bottom: 20px;
    }

    .destination-images {
        gap: 10px;
    }

    .destination {
        margin: 15px;
    }

    .mald h4 {
        bottom: 115px;
    }

    .ind h4 {
        bottom: 120px;
    }

    .sri h4 {
        bottom: 140px;
    }

    .na h4 {
        bottom: 130px;
    }

    .kas h4 {
        bottom: 190px;
    }

    .ban h4 {
        bottom: 130px;
    }

    .band h4 {
        bottom: 100px;

    }

    #kasimg{
        width: 355px;
    }
}

/* large device responsive */

@media screen and (min-width:992px) {}